a{
	text-decoration: none;
	color: black;
	font-weight: 100;
}

#sign_form{
	visibility: hidden;
}
#sign_form #sign_error #pass_inv{
	visibility : hidden;
}
#sign_form #sign_error #email_inv{
	visibility : hidden;
}

#log_form{
	visibility: hidden;
}

#navigation #log_out_but{
	visibility : hidden;
}
#navigation #name{
	visibility : hidden;
}

#log_error{
	visibility : hidden;
}
